.callback-form {
  background: white;
  border-radius: 2px;
  box-shadow: 0px 32px 48px 0px rgba(0, 0, 0, 0.1);
  padding: 50px 65px 45px;
  label {
    font-size: 15px;
    font-family: $Fira;
    color: rgb(30, 30, 30);
  }
}