.news-container{

  .news-card {
    background: white;
    border-radius: 2px;
    padding: 24px 30px 25px;
    cursor: pointer;
    margin-bottom: .6rem;
    p {
      margin-bottom: 0;
    }
    a {
      font-size: 15px;
      color: rgb(26, 26, 24);
      transition: all .3s;
      line-height: 1.333;
    }
    &:hover {
      a {
        color: rgb(18, 90, 255);
        text-decoration: none;
      }
    }
  }
  button{
      font-size: 15px;
      line-height: 1.333;
    font-weight: 400 !important;
  }
}
